@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #059669;
  --primary-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
